@import "https://fonts.fontstorage.com/import/kyivtypesans.css";
@import "https://fonts.fontstorage.com/import/kyivtypetitling.css";
.header {
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: top right;
}
@media (min-width: 1024px) {
  .header {
    background-image: url(../images/header-bg-desktop.png);
  }
}
.header__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 576px) {
  .header__bottom {
    padding-bottom: 24px;
  }
}
@media (min-width: 1024px) {
  .header__bottom {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 24px;
  }
}
.header__button {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: #fff;
  text-align: center;
}
@media (min-width: 576px) {
  .header__button {
    font-size: 64px;
    white-space: nowrap;
  }
}
@media (min-width: 1024px) {
  .header__button {
    font-size: 80px;
  }
}

.lines {
  padding-bottom: 60px;
  width: 283px;
}
.lines__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  .lines {
    width: 577px;
  }
}

.bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .bottom-content {
    padding-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .button-discover {
    margin-bottom: 24px;
  }
}

.head-left {
  position: absolute;
  width: 146px;
  height: 90px;
  right: -106px;
  top: 400px;
}

.head-right {
  position: absolute;
  width: 146px;
  height: 90px;
  left: -70px;
  top: 372px;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 0.3s;
  transition: transform 0.3s;
}
.icon:hover {
  transform: scale(1.2);
}
@media (min-width: 576px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}
.icon--menu {
  background-image: url(../images/menu.svg);
}
.icon__number {
  display: block;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  align-self: center;
  width: max-content;
  margin-right: 12px;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
  font-size: 12px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .icon--phone:hover .icon__number {
    opacity: 1;
    pointer-events: all;
  }
}
.icon--close {
  background-image: url(../images/cross.svg);
}

.icon-curly {
  position: absolute;
  left: -3px;
  width: 49px;
  height: 70px;
}
@media (min-width: 1024px) {
  .icon-curly {
    left: -3px;
    width: 116px;
    height: 166px;
    bottom: 38px;
  }
}

.icon-star {
  position: absolute;
  bottom: 45px;
  left: 30px;
  width: 16px;
  height: 16px;
}
@media (min-width: 1024px) {
  .icon-star {
    left: 465px;
    width: 16px;
    height: 16px;
    bottom: 65px;
  }
}

.icon-star--2 {
  display: none;
}
@media (min-width: 1024px) {
  .icon-star--2 {
    display: block;
    position: absolute;
    left: 165px;
    width: 16px;
    height: 16px;
    top: 165px;
  }
}

.icon-star--3 {
  display: none;
}
@media (min-width: 1024px) {
  .icon-star--3 {
    display: block;
    position: absolute;
    right: 232px;
    width: 16px;
    height: 16px;
    top: 247px;
  }
}

.icon-frame {
  position: absolute;
  top: 200px;
  right: 16px;
  width: 29px;
  height: 34px;
}
@media (min-width: 1024px) {
  .icon-frame {
    right: 104px;
    width: 62px;
    height: 73px;
    top: 560px;
  }
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page {
  background-color: #fff;
  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
  min-width: 320px;
}
.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: translateX(-100%);
}
.page__menu:target {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}
.page__section-content {
  font-weight: 500;
  font-size: 23px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 92px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1020px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

.nav {
  font-weight: 500;
  margin-top: 77px;
}
.nav__list {
  list-style: none;
  margin: 0 0 44px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media (min-width: 1024px) {
  .nav__list {
    gap: 50px;
  }
}
.nav__link {
  font-family: "Kyiv Type Sans", sans-serif;
  position: relative;
  color: inherit;
  text-decoration: none;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
@media (min-width: 1024px) {
  .nav__link {
    font-size: 42px;
  }
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}
.nav__link:hover::after {
  transform: scale(1);
}

.top-bar {
  font-family: "Kyiv Type Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
}
@media (min-width: 576px) {
  .top-bar {
    padding-block: 36px;
  }
}
.top-bar__icons {
  display: flex;
  gap: 24px;
}
.top-bar__logo-link {
  display: flex;
}
.top-bar__logo {
  height: 38px;
  transition: transform 0.3s;
}
.top-bar__logo:hover {
  transform: scale(1.2);
}
@media (min-width: 576px) {
  .top-bar__logo {
    height: 56px;
  }
}
.top-bar__logo-side {
  height: 50px;
}
@media (min-width: 1024px) {
  .top-bar__logo-side {
    height: 82px;
  }
}

.subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
@media (min-width: 1024px) {
  .subtitle {
    font-size: 20px;
  }
}

.menu {
  overflow: auto;
  background-color: #242424;
  box-sizing: border-box;
  height: 100vh;
  color: #fff;
}
.menu__top {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #242424;
}
.menu__nav {
  margin-bottom: 40px;
}
.menu__call {
  color: #242424;
  text-decoration: none;
  text-transform: uppercase;
}
.menu__call-to-order {
  color: #242424;
  font-weight: 600;
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2;
  padding-bottom: 7px;
  border-bottom: 1px solid #242424;
  width: fit-content;
}
.menu__phone-number {
  color: #242424;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 16px;
  display: block;
}

.button {
  font-family: "Kyiv Type Sans";
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 12px 20px;
  color: #1d1d1d;
  background-color: #fff;
  border-radius: 10px;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  transition: all 0.3s;
  cursor: pointer;
  height: 55px;
  border: 2px solid #000;
  box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
}
.button:hover {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
}
.button:focus {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
}

.button-contact {
  margin-bottom: 27px;
  grid-column: 7/10;
}

.button-discover {
  grid-column: 4/7;
}

.footer {
  padding: 40px 80px;
  background-color: #000;
  align-items: center;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__logo {
  height: 50px;
}
@media (min-width: 1024px) {
  .footer__logo {
    height: 82px;
  }
}

.footer__navigation {
  font-weight: 500;
}

.navigation__list {
  list-style: none;
  margin: 29px 0 44px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media (min-width: 1024px) {
  .navigation__list {
    margin: 0px;
    display: flex;
    flex-direction: row;
  }
}

.navigation__link {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  font-style: normal;
  font-weight: 350;
  line-height: 130%;
}
.navigation__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}
.navigation__link:hover::after {
  transform: scale(1);
}

.contacts {
  padding: 60px 16px;
  border-radius: 20px;
  border: 1px solid var(--black, #242424);
  background: var(--white, #FBFBFB);
  gap: 32px;
}
@media (min-width: 1024px) {
  .contacts {
    margin-bottom: 182px;
  }
}
@media (min-width: 576px) {
  .contacts__wrapper {
    display: grid;
    margin: 0 auto;
    column-gap: 24px;
  }
}
@media (min-width: 576px) {
  .contacts__form {
    display: grid;
  }
}
.contacts__form--field {
  color: #292929;
  box-sizing: border-box;
  width: 100%;
  border-radius: 40px;
  padding: 16px 14px;
  border: 1px solid #000;
  margin-bottom: 24px;
  outline: none;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
}
.contacts__form--field--field:after {
  background: rgba(0, 0, 0, 0);
  border: 4px solid #000;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 10px;
  bottom: 10px;
  pointer-events: none;
}
.contacts__form--field::placeholder {
  font-family: "Kyiv Type Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 20px;
  color: #242424;
  align-items: center;
}
@media (min-width: 1024px) {
  .contacts__form--field {
    padding: 16px 20px;
    margin-bottom: 40px;
  }
}
.contacts__form--textarea {
  width: 100%;
  height: 148px;
  resize: none;
  box-sizing: border-box;
  padding: 16px 14px;
  border-radius: 16px;
  border: none;
  margin-bottom: 32px;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--black, #242424);
  box-shadow: 4px 4px 0px 0px #000;
}
.contacts__form--textarea::placeholder {
  font-family: "Kyiv Type Sans", sans-serif;
  font-size: 23px;
  font-style: normal;
  line-height: 130%;
  color: #242424;
}

@media (min-width: 1024px) {
  .required {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

.name {
  position: relative;
}
.name:after {
  background: rgba(0, 0, 0, 0);
  border: 4px solid #000;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 10px;
  bottom: 10px;
  pointer-events: none;
}

@media (min-width: 1024px) {
  .general {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

.section-title {
  font-family: "Kyiv Type Serif";
  margin: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #242424;
  margin-bottom: 24px;
  text-align: center;
}
.section-title--founders::after {
  content: url(../images/heart.svg);
  width: 33px;
  height: 34px;
  margin-left: 20px;
  margin-top: 10px;
}
@media (min-width: 1024px) {
  .section-title--founders::after {
    content: url(../images/heart.svg);
    width: 57px;
    height: 59px;
    margin-left: 20px;
    margin-top: 10px;
  }
}
@media (min-width: 576px) {
  .section-title {
    font-size: 48px;
  }
}
@media (min-width: 1024px) {
  .section-title {
    margin-bottom: 56px;
    font-size: 42px;
  }
}
.section-title--align-left {
  text-align: left;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.section-description {
  font-family: "Kyiv Type Sans";
  font-size: 23px;
  font-style: normal;
  font-weight: 350;
  line-height: 130%;
  text-align: center;
  margin-bottom: 32px;
}

.product {
  color: #000;
}
.product__photo {
  width: 100%;
  box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
  border-radius: 10px;
  transition: all 0.3s;
  margin-bottom: 24px;
}
.product__photo:hover {
  transform: scale(1.05);
}
.product__title {
  font-family: "Kyiv Type Serif", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.product__category {
  font-family: "Kyiv Type Sans", sans-serif;
  font-size: 23px;
  font-style: normal;
  line-height: 130%;
  margin-bottom: 40px;
}
.product__price {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.compare {
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .compare {
    margin-bottom: 100px;
  }
}
.compare__products {
  display: grid;
  row-gap: 48px;
}
@media (min-width: 1024px) {
  .compare__products {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    justify-item: stretch;
  }
}
@media (min-width: 576px) {
  .compare__products {
    justify-item: center;
  }
}

.naming {
  display: flex;
  justify-content: space-between;
  font-family: "Kyiv Type Sans", sans-serif;
  margin-bottom: 12px;
}
@media (min-width: 1024px) {
  .naming {
    display: flex;
    flex-direction: column;
  }
}

h3, p {
  margin: 0;
  padding: 0;
}

@media (min-width: 576px) {
  .button-product {
    display: flex;
    align-items: left;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .button-product {
    display: flex;
    align-items: left;
    margin: 0;
  }
}

.product {
  width: 100%;
  height: 100vh;
}

.product__images {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__main-image {
  max-width: 500px;
  max-height: 600px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #070707;
}

.product__slider-wrap {
  max-width: 500px;
  min-height: 100px;
  display: grid;
  align-items: center;
}
@media (min-width: 1024px) {
  .product__slider-wrap {
    max-width: 500px;
    min-height: 100px;
    display: flex;
    align-items: center;
  }
}

.product__slider {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: auto;
}
@media (min-width: 1024px) {
  .product__slider {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

.product__image {
  max-width: 180px;
  max-height: 100px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.5;
  margin: 0.25rem;
  border: 1px solid #070707;
}

.product__image:first-child {
  margin-left: 0;
}

.product__image:last-child {
  margin-right: 0;
}

.product__image:hover {
  opacity: 1;
}

.product__image--active {
  opacity: 1;
}

.product__slider::-webkit-scrollbar {
  height: 10px;
}

.product__slider::-webkit-scrollbar-thumb {
  background-color: #f9564f;
  border-radius: 50px;
}

.column {
  width: 600px;
  padding: 10px;
}

#featured {
  max-width: 500px;
  max-height: 600px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid black;
  position: relative;
}

.slideLeft {
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: transparent;
  color: #000;
  margin: auto;
  top: 42%;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bolder;
}

.thumbnail {
  object-fit: cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 2px solid black;
}

.thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

#slide-wrapper {
  max-width: 500px;
  display: flex;
  min-height: 100px;
  align-items: center;
}

#slider {
  width: 440px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  opacity: 0.5;
  width: 35px;
  height: 35px;
}

.about-us {
  position: relative;
  background-color: #242424;
  border-radius: 20px;
  color: #fff;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}
@media (min-width: 1024px) {
  .about-us {
    padding: 80px 100px;
  }
}
.about-us__block {
  position: relative;
}
@media (min-width: 576px) {
  .about-us__block {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .about-us__block {
    padding: 80px 100px;
    display: flex;
    flex-direction: row;
    column-gap: 55px;
  }
}
.about-us__block-reverse {
  position: relative;
}
@media (min-width: 576px) {
  .about-us__block-reverse {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .about-us__block-reverse {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 55px;
  }
}
.about-us__title {
  font-family: "Kyiv Type Serif";
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .about-us__title {
    margin-bottom: 24px;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }
}
.about-us__description {
  margin-bottom: 32px;
  font-family: "Kyiv Type Sans";
  grid-column: 2/6;
}
@media (min-width: 1024px) {
  .about-us__description {
    font-size: 23px;
    font-style: normal;
    line-height: 130%;
  }
}
.about-us__photo {
  width: 100%;
  height: 510px;
  object-fit: cover;
}
@media (min-width: 576px) {
  .about-us__photo {
    width: 510px;
    height: 510px;
    object-fit: contain;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .about-us__photo {
    width: 510px;
    height: 510px;
  }
}
.curly {
  display: none;
}
@media (min-width: 1024px) {
  .curly {
    display: block;
    height: 166px;
    width: 116px;
    position: absolute;
    left: -10px;
    bottom: 450px;
  }
}

.star {
  display: none;
}
@media (min-width: 1024px) {
  .star {
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: 0;
    left: 450px;
  }
}

.star--2 {
  display: none;
}
@media (min-width: 1024px) {
  .star--2 {
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: 200px;
    right: 40px;
  }
}

.frame {
  display: none;
}
@media (min-width: 1024px) {
  .frame {
    display: block;
    height: 37px;
    width: 102px;
    position: absolute;
    right: -10px;
    bottom: 750px;
  }
}

.flag {
  display: none;
}
@media (min-width: 1024px) {
  .flag {
    display: block;
    height: 37px;
    width: 102px;
    position: absolute;
    left: 10px;
    top: 120px;
  }
}

.founders__about {
  display: grid;
  color: #000;
  border-radius: 10px;
  border: 1px solid var(--black, #242424);
  box-shadow: 4px 4px 0px 0px #000;
  padding: 30px 20px 20px 20px;
  gap: 24px;
}

.founders__quotes {
  background-image: url("../images/quotation.svg");
  height: 30px;
  width: 42px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.founders__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.founders {
  position: relative;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .founders {
    margin-bottom: 100px;
  }
}
.founders__title {
  font-family: "Kyiv Type Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.founders__text {
  font-family: "Kyiv Type Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 130%;
  margin-bottom: 40px;
}
.founders__job {
  font-family: "Kyiv Type Sans", sans-serif;
  font-size: 23px;
  font-style: normal;
  line-height: 130%;
  margin-bottom: 40px;
}
.founders__photo {
  width: 115px;
  height: 119px;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 24px;
}
.founders__photo:hover {
  transform: scale(1.05);
}
.founders__product {
  display: grid;
  row-gap: 48px;
}
@media (min-width: 1024px) {
  .founders__product {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    justify-item: stretch;
  }
}
@media (min-width: 576px) {
  .founders__product {
    justify-item: center;
  }
}

.naming {
  display: flex;
  justify-content: space-between;
  font-family: "Kyiv Type Sans", sans-serif;
  margin-bottom: 12px;
}
@media (min-width: 1024px) {
  .naming {
    display: flex;
    flex-direction: column;
  }
}

h3, p {
  margin: 0;
  padding: 0;
}

@media (min-width: 576px) {
  .button-product {
    display: flex;
    align-items: left;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .button-product {
    display: flex;
    align-items: left;
    margin: 0;
  }
}

.image-container {
  position: relative;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.img {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
}

.active {
  display: block;
}

.dot-container {
  width: 250px;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  outline: none;
  cursor: pointer;
}

.dot-container button {
  height: 15px;
  width: 50px;
  border-radius: 10%;
  border: 3px solid #076bb8;
  background-color: transparent;
}

.dot-container button:nth-child(1) {
  background-color: #076bb8;
}

#prev, #next {
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: transparent;
  color: #000;
  margin: auto;
  top: 42%;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bolder;
}

.slider {
  position: relative;
  margin-bottom: 40px;
}

#prev {
  left: -20px;
}

#next {
  right: -20px;
}

/*# sourceMappingURL=main.css.map */
