
@import 'utils/_mixins';
@import 'blocks/image';
@import 'blocks/header';
@import 'blocks/icon';
@import 'blocks/page';
@import 'blocks/container';
@import 'blocks/navigation';
@import 'blocks/top-bar';
@import 'blocks/menu';
@import 'blocks/buttons';
@import 'fonts';
@import 'blocks/footer';
@import 'blocks/contacts';
@import 'blocks/section-title';
@import 'blocks/compare';
@import 'blocks/about-us';
@import 'blocks/founders';

.carousel {
  margin-top: 20px;
}
.item .thumb {
  
width: 25%;
cursor: pointer;
float: left;
}
.item .thumb img {
width: 100%;
margin: 2px;
}
.item img {
width: 100%;  
}
.image-container{
  position: relative;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.img{
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
}

.active{
  display: block;
}

.dot-container{
  width: 250px;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button{
  outline: none;
  cursor: pointer;
}

.dot-container button{
  height: 15px;
  width: 50px;
  border-radius: 10%;
  border: 3px solid #076bb8;
  background-color: transparent;
}

.dot-container button:nth-child(1){
  background-color: #076bb8;
}

#prev,#next{
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: transparent;
  color: #000;
  margin: auto;
  top: 42%;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bolder;
}

.slider {
  position: relative;
  margin-bottom: 40px;
}

#prev{
  left: -20px;
}

#next{
  right: -20px;
}


